<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous"> -->

<h3>
  List + Icon
</h3>

<div class="container">
<ul>
  <li *ngFor='let list of lists'>{{ list.Model }} 
    <!-- <span [ngClass]="{iconLeft: iconLeft == true}"> -->
    <span class="iconContainer" *ngIf="icon"
     [ngSwitch]="list.status"
       [ngClass]="{iconLeft: iconLeft == true}" >
      <svg *ngSwitchCase="'error'" viewBox="0 0 24 24" class="iconDanger" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path d="M0 0h24v24H0z" fill="none"></path>
         <path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z"></path>
     </svg>
     <svg *ngSwitchCase="'warning'" viewBox="0 0 24 24" class="iconSuccess" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
      <path d="M0 0h24v24H0z" fill="none"></path>
      <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"></path>
     </svg>
  <svg *ngSwitchCase="'success'" viewBox="0 0 24 24" class="iconWarning" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
    <path d="M0 0h24v24H0z" fill="none"></path>
    <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"></path>
</svg>
<!-- </span> -->
</span>

    <span class="iconContainer"
     [ngClass]="{iconLeft: iconLeft == true}"
      *ngIf="icon">
      <!-- <i class="fas"
       [ngClass]="{'fa-exclamation-circle': list.status == 'error','fa-ban': list.status == 'warning','fa-plus-circle': list.status === 'success'}"></i> -->
    </span> 
    <span 
      class="valueContainer" 
      *ngIf="value" >{{list.VIN}}
    </span> 
  </li>
</ul>
</div>

